.git
.gitignore
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/node_modules
connector/dist
connector/.venv
connector/installer/tools/ffmpeg.exe
connector/installer/tools/WinSW-x64.exe
**/bin
**/obj
